<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"
      requirePermission="true"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <dataConfiguration defaultDatabase="MyrnaLoy" />
  <connectionStrings>
    <add name="MyrnaLoy"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyrnaLoy;Persist Security Info=True;User ID=appuser;Password=rootuser"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>